[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = git@github.com:jeoygin/yasnippet.git
[submodule ".emacs.d/themes/emacs-color-theme-solarized"]
	path = .emacs.d/themes/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
